@font-face {
    font-family: "Happy Fox Condensed";
    src: url("http://res.cloudinary.com/baskoroi/raw/upload/v1470993409/HappyFox-Condensed_zq19b7.otf") format("opentype");
}

body {
    background-color: #252225;
}

body, body * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;

    color: #FFFFFF;

    font-family: "Raleway", sans-serif;
}

.main {
    width: 360px;
    margin: 0 auto;
    overflow: hidden;
}

.card {
    overflow: hidden;
    margin-bottom: 24px;
}

header, footer {
    text-align: center;
}

header h1, .logo-accent {
    font-family: "Happy Fox Condensed", cursive;
}

header h1 {
    font-size: 60pt;

    color: #E74C3C;

    line-height: 0.8em;
}

a {
    text-decoration: none;
    color: #E74C3C;

    cursor: pointer;
}

a:hover, .logo-accent {
    color: #AADB18;
}

.wrapper {
    width: 240px;
    margin: 0 auto;
}

.timer {
    position: relative;
    float: left;
}

.timer h2 {
    text-align: center;
    position: absolute;
    line-height: 120px;
    width: 100%;
}

svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle-animation {
    stroke-dasharray: 660;
    stroke-dashoffset: 660;
    transition: all 1s linear;
}

/* .timer:active {
    width: 225px;
    height: 225px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.timer:active .time {
    font-size: 90%;
} */

/* .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #AADB18; color of the pie
    border: 10px solid rgba(0,0,0,0.4);
}

.spinner {
    border-radius: 125px 0 0 125px;
    z-index: 200;
    border-right: none;
    -webkit-animation: rota linear infinite paused;
    animation: rota linear infinite paused;
}

.spinner-full {
    transform: rotate(360deg);
}

.filler {
    border-radius: 0 125px 125px 0;
    z-index: 100;
    border-left: none;
    -webkit-animation: fill steps(1, end) infinite paused;
    animation: fill steps(1, end) infinite paused;
    left: 50%;
    opacity: 0;
}

.filler-full {
    opacity: 1;
}

.mask {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 300;
    opacity: 1;
    background: inherit;
    -webkit-animation: mask steps(1, end) infinite paused;
    animation: mask steps(1, end) infinite paused;
}

.mask-full {
    opacity: 0;
} */

/* .time {
    position: absolute;
    width: 100%;
    height: 100%;

    padding-top: 48px;
    z-index: 400;
} */

.time * {
    text-align: center;
}

.time h2 {
    font-weight: 400;
}

.panel-col {
    width: 50%;
    float: left;
    text-align: center;
}

.panel-col h3 {
    line-height: .6em;
}

.panel-buttons a {
    display: block;
    float: left;

    width: 36px;
    height: 36px;
    padding-top: 6px;

    font-weight: bold;
    font-size: 16pt;

    color: #000000;
}

.panel-buttons {
    overflow: hidden;
    margin-left: -webkit-calc((100% - 120px) / 2);
    margin-left: -moz-calc((100% - 120px) / 2);
    margin-left: -o-calc((100% - 120px) / 2);
    margin-left: calc((100% - 120px) / 2);
}

.work a {
    background-color: #AADB18;
}

.rest a {
    background-color: #E74C3C;
}

.panel-col input[type="text"] {
    display: block;
    float: left;

    width: 48px;
    height: 36px;
    text-align: center;
    color: #000000;
}

.alarm-control {
    text-align: center;
}

.alarm-control select {
    width: 160px;
}

.alarm-control select, .alarm-control select * {
    color: #000000;
}

.preview-alarm {
    background-color: #E74C3C;
    color: #000000;

    padding: 4px 8px;
}

.preview-alarm:hover {
    background-color: #AADB18;
    color: #000000;
}

@keyframes rota {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fill {
    0%        { opacity: 0; }
    50%, 100% { opacity: 1; }
}

@keyframes mask {
    0%        { opacity: 1; }
    50%, 100% { opacity: 0; }
}

footer {
    font-size: 10pt;
}